.skillsContainer {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 4rem;
}

.skillsHeaderContainer {
  text-align: center;
}

.skillSectionContainer {
  width: 100%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 1rem;
}

.skillSectionHeader {
  text-align: center;
}

.skillTitle {
  font-size: 3rem;
  line-height: 1.3;
  font-family: "Open Sans Regular";
  margin-bottom: 3rem;
}

.skillItem {
  display: flex;
  overflow: hidden;
}

.skillItem > * {
  flex: 1;
  margin-bottom: 30px;
}

.skillImageWrapper > * {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}

.skillHeading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Open Sans Regular";
  line-height: normal;
  margin-top: 30px;
}

.skillDescriptionWrapper {
  margin-left: 50px;
  font-family: "Open Sans Regular";
}

.skillSubTitle {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Responsive Styles */
@media (max-width: 1380px) {
  .skillHeading,
  .skillsHeader,
  .skillTitle {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .skillItem {
    flex-direction: column;
  }

  .skillDescriptionWrapper,
  .skillImageWrapper {
    margin: 0 10px;
  }

  .skillHeading,
  .skillsHeader,
  .skillTitle {
    font-size: 30px;
    text-align: center;
  }

  .skillsHeader,
  .skillTitle {
    font-size: 2rem;
  }

  .skillImageWrapper {
    order: 2;
  }

  .skillSubTitle {
    line-height: 1.4;
    margin-bottom: 15px;
  }
}
