.main {
  /* Your styles for main */
}

.certsHeaderDiv {
  /* Your styles for certs-header-div */
}

.certsHeader {
  font-size: 40px;
  line-height: 1.1;
  font-family: "Open Sans Regular";
  text-align: center;
}

.certsBodyDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1380px) {
  .certsHeader {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .certsBodyDiv {
    flex-direction: column;
  }

  .certsHeader {
    font-size: 30px;
  }
}
