.degreeCard {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.cardImg {
  width: 200px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #d9dbdf;
  box-shadow: 5px 5px 5px #d9dbdf;
  margin-right: 20px;
}

.cardBody {
  width: 90%;
  border: 1px solid #d9dbdf;
  border-radius: 7px;
  margin: 10px;
  box-shadow: 5px 5px 5px #d9dbdf;
}

.bodyHeader {
  display: flex;
  justify-content: space-between;
  border-radius: 7px 7px 0 0;
  padding: 10px;
}

.bodyHeaderContent,
.duration {
  font-family: "Open Sans Regular";
}

.bodyHeaderContent {
  width: 80%;
}

.duration {
  font-size: 16px;
  padding-right: 10px;
}

.cardTitle,
.cardSubtitle,
.contentList,
.btn {
  font-family: "Open Sans Regular";
  margin: 0;
  padding: 0;
}

.cardTitle {
  font-size: 20px;
  color: inherit;
}

.cardSubtitle {
  font-size: 18px;
  color: inherit;
  margin-top: 7px;
  margin-bottom: 5px;
}

.contentList {
  padding-left: 10px;
  padding-right: 10px;
  color: inherit;
}

.visitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
  background-color: inherit;
  cursor: pointer;
}

.btn {
  color: inherit;
}

@media (max-width: 768px) {
  .degreeCard {
    flex-direction: column;
  }

  .bodyHeader {
    flex-direction: column;
  }

  .bodyHeaderContent,
  .bodyHeaderDuration {
    width: 100%;
  }

  .cardBody {
    width: 100%;
  }

  .cardImg {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .cardTitle {
    font-size: 20px;
  }

  .cardSubtitle {
    font-size: 16px;
  }
}
