.degreeCard {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.cardTitle {
  font-family: "Open Sans Medium";
  font-size: 23px;
  margin: 0;
}

.cardSubtitle {
  font-family: "Open Sans Medium";
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.cardImg {
  width: 200px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #d9dbdf;
  box-shadow: 5px 5px 5px #d9dbdf;
  margin-right: 20px;
}

.bodyHeader {
  max-width: inherit;
  display: flex;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
}

.bodyHeaderTitle {
  align-items: flex-start;
  width: 80%;
}

.bodyHeaderDuration {
  width: 20%;
}

.duration {
  font-family: "Open Sans Regular";
  font-size: 16px;
  padding-right: 10px;
  float: right;
}

.bodyContent {
  max-width: inherit;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.contentList {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Open Sans Regular";
}

.cardBody {
  border-bottom: 1px solid #d9dbdf;
  border-left: 1px solid #d9dbdf;
  border-right: 1px solid #d9dbdf;
  border-radius: 7px;
  width: 90%;
  margin: 10px;
  box-shadow: 5px 5px 5px #d9dbdf;
}

.visitBtn {
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border-radius: 7px;
  border: 0px;
  float: right;
}

.btn {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans Regular";
}

@media (max-width: 768px) {
  .degreeCard {
    flex-direction: column;
  }

  .bodyHeader {
    flex-direction: column;
  }

  .bodyHeaderTitle {
    width: 100%;
  }

  .bodyHeaderDuration {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .duration {
    padding: 0px;
    margin: 0px;
    float: left;
  }

  .cardBody {
    width: 100%;
  }

  .cardTitle {
    font-size: 20px;
  }

  .cardSubtitle {
    font-size: 16px;
  }

  .cardImg {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
