.certCard {
  width: 30%;
  display: inline-block;
  text-align: center;
  border: 1px solid #d9dbdf;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #bfafb2;
  margin-bottom: 30px;
  flex: 0 0 30%;
}

.certHeader {
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.logoImg {
  width: auto;
  height: 100px;
  position: relative;
}

.certBody {
  margin: 0;
}

.certBodyTitle,
.certBodySubtitle {
  font-family: "Open Sans Regular";
  margin: 10px;
}

.certBodyTitle {
  font-size: 20px;
}

.certBodySubtitle {
  font-size: 18px;
  color: #808080;
}

.content {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.contentOverlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.content:hover .contentOverlay {
  opacity: 1;
}

.contentDetails {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
  animation: iconBounce 1.5s infinite;
  color: #fff;
  font-size: 2rem;
}

@keyframes iconBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.content:hover .contentDetails {
  display: flex;
  opacity: 1;
}

.fadeInTop {
  top: 20%;
}

@media (max-width: 768px) {
  .certCard {
    width: 100%;
  }
}
