.educationsHeader {
  font-size: 40px;
  line-height: 1.1;
  font-family: "Open Sans Regular";
  text-align: center;
}

@media (max-width: 1380px) {
  .educationsHeader {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .educationsHeader {
    font-size: 30px;
  }
}
