.educationsContainer {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  margin-top: 2rem;
}

.educationsHeader {
  font-size: 2.5rem;
  line-height: 1.2;
  font-family: "Open Sans Regular";
  text-align: center;
  margin-bottom: 0.6rem;
  font-weight: 600;
}

.educationsIntro {
  max-width: 780px;
  margin: 0 auto 2.5rem;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  opacity: 0.9;
}

.degreesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1380px) {
  .educationsHeader {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .educationsContainer {
    padding: 30px 15px;
    width: 90%;
  }

  .educationsHeader {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .degreesList {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
