@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agustina";
  font-style: normal;
  font-weight: normal;
  src:
    local("Agustina"),
    url("/fonts/Agustina/Agutina 400.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Bold";
  src:
    local("Open Sans Bold"),
    url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Italic";
  src:
    local("Open Sans Italic"),
    url("/fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Medium";
  src:
    local("Open Sans Medium"),
    url("/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Regular";
  src:
    local("Open Sans Regular"),
    url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

html,
body {
  scroll-behavior: smooth;
  color: #333333;
  background-color: #ffffff;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Open Sans Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a,
button {
  transition: all 0.3s ease;
}

::selection {
  background-color: #0070f3;
  color: white;
}

@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}
