.contactMain {
  width: 100%;
}

.basicContact {
  margin: 0 5%;
}

.sectionDiv {
  display: flex;
  align-items: center;
}

.headingImgDiv,
.headingTextDiv {
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headingImgDiv > *,
.headingTextDiv > * {
  max-width: 100%;
  height: auto;
}

.headingTextDiv h1 {
  font-size: 56px;
  font-weight: 400;
  font-family: "Open Sans Medium";
  line-height: 1.1;
  margin-top: 60px;
  color: var(--text-color);
}

.headingTextDiv p {
  font-size: 20px;
  line-height: 30px;
  margin: 0 20px;
  font-family: "Open Sans Medium";
  color: var(--secondary-text-color);
}

.buttonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

@media (max-width: 1380px) {
  .headingTextDiv h1 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .headingTextDiv h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  .sectionDiv {
    flex-direction: column;
  }

  .headingTextDiv p {
    font-size: 16px;
    margin: 0;
    line-height: normal;
    text-align: center;
  }
}
