.repoCardDiv {
  color: #586069;
  background-color: #ffffff;
  box-shadow: #00000033 0px 10px 30px -15px;
  padding: 2rem;
  cursor: pointer;
  border-radius: 10px;
}

.repoCardDiv:hover {
  box-shadow: #00000033 0px 20px 30px -10px;
}

.repoNameDiv {
  display: flex;
  align-items: center;
}

.repoSvg {
  margin-right: 0.5rem;
  min-width: 16px;
}

.repoName {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Open Sans Regular";
  margin-bottom: 0.75rem;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  line-height: 1.2;
  margin: 0px;
}

.repoDescription {
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  font-family: "Open Sans Regular";
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0.8rem;
}

.repoDetails {
  display: flex;
  flex-direction: row;
}

.repoLanguages {
  margin: 0;
  font-family: "Open Sans Regular";
  font-weight: 400;
  margin-left: 0px;
  margin-right: auto;
}

.repoCreationDate {
  font-family: "Open Sans Regular";
  font-weight: 100;
  margin-left: auto;
  margin-right: 0px;
}

@media (max-width: 768px) {
  .repoName {
    font-size: 16px;
  }

  .repoDescription {
    font-size: 14px;
  }

  .repoDetails {
    flex-direction: column;
  }

  .repoCreationDate {
    font-size: 14px;
  }
}
