.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greetMain {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greetingMain {
  display: flex;
}

.greetingMain > * {
  flex: 1;
  margin-bottom: 30px;
}

.greetingText {
  margin-top: 80px;
  font-size: 70px;
  line-height: 1.1;
  font-family: "Open Sans Bold";
}

.greetingTextP {
  font-size: 40px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Open Sans Medium";
}

.greetingImageDiv > * {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1380px) {
  .greetingText {
    font-size: 50px;
  }

  .greetingTextP {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .buttonGreetingDiv {
    justify-content: space-around;
  }

  .greetingText {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }

  .greetingTextP {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

  .greetingMain {
    display: block;
  }

  .portfolioRepoBtnDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
