.languagesContainer {
  /* Additional container styles if needed */
}

.languageIcons {
  padding: 0;
  list-style: none;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.languageIcon {
  display: inline-block;
  margin: 10px;
  font-family: "Open Sans Regular";
}

@media (max-width: 768px) {
  .languageIcon {
    margin: 5px;
  }
}
