.softwareSkillsMainDiv {
  /* Add styles if needed */
}

.devIconsLanguages {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: right;
}

.softwareSkillInlineLanguages {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px;
  font-family: "Open Sans Regular";
}

@media (max-width: 768px) {
  .softwareSkillInlineLanguages {
    margin-right: 10px;
    margin-bottom: 0px;
  }
}
