.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}

.logoName {
  font-family: "Agustina Regular";
  font-weight: bold;
  padding: 0 10px;
}

.menu {
  font-family: "Open Sans Regular";
}

.menuIcon {
  display: none;
  cursor: pointer;
  float: right;
  padding: 28px 20px;
}

.navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navicon:before,
.navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navicon:before {
  top: 5px;
}

.navicon:after {
  top: -5px;
}

.navicon.open {
  background: transparent;
}

.navicon.open:before {
  transform: rotate(-45deg);
}

.navicon.open:after {
  transform: rotate(45deg);
}

.navicon.open:before,
.navicon.open:after {
  top: 0;
}

.menu {
  display: block;
  clear: both;
  max-height: none;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header li {
  margin-left: 20px;
}

.header li a {
  text-decoration: none;
  color: inherit;
  padding: 20px;
}

.logo {
  display: block;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}

.logoName {
  font-family: "Agustina";
  font-weight: bold;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .menuIcon {
    display: flex;
  }

  .header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .menu.show {
    display: flex;
  }

  .header ul {
    display: block;
  }

  .header li {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .header li a {
    display: block;
    width: 100%;
    padding: 10px;
  }
}
