.experienceMain {
  width: 100%;
}

.basicExperience {
  margin-left: 5%;
  margin-right: 5%;
}

.experienceHeadingDiv {
  display: flex;
}

.experienceHeadingDiv > * {
  flex: 1;
}

.experienceHeadingImgDiv {
  align-items: center;
  justify-content: center;
}

.experienceHeadingTextDiv {
  text-align: center;
}

.experienceHeadingImgDiv > * {
  max-width: 100%;
  height: auto;
}

.experienceHeadingText {
  font-size: 56px;
  font-weight: 400;
  font-family: "Open Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.experienceHeadingSubText {
  font-size: 30px;
  font-family: "Open Sans Regular";
  text-align: center;
  margin-bottom: 10px;
}

.experienceHeaderDetailText {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Open Sans Medium";
}

@media (max-width: 1380px) {
  .experienceHeadingText {
    font-size: 50px;
    margin-top: 80px;
  }
  .experienceHeadingSubText {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .experienceHeadingText {
    font-size: 30px;
    margin-top: 20px;
  }

  .experienceHeadingSubText {
    font-size: 20px;
  }

  .experienceHeadingDiv {
    flex-direction: column;
  }

  .experienceHeaderDetailText {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
}
