.projectsContainer {
  width: 100%;
  text-align: center;
}

.content {
  margin: 0 5%;
}

.headingSection {
  display: flex;
  align-items: center;
}

.imageWrapper,
.textWrapper {
  flex: 1;
  text-align: center;
}

.imageWrapper > * {
  max-width: 100%;
  height: auto;
}

.textWrapper h1 {
  font-size: 56px;
  font-weight: 400;
  font-family: "Open Sans Medium";
  line-height: 1.1;
  margin-top: 20px;
}

.textWrapper p {
  font-size: 20px;
  line-height: 30px;
  margin: 20px;
  font-family: "Open Sans Medium";
}

.repoCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  margin: 20px 10px;
}

.projectButton {
  /* Add the CSS for your project-button class here */
}

@media (max-width: 1380px) {
  .textWrapper h1 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .headingSection {
    margin-top: 20px;
    flex-direction: column;
  }

  .textWrapper h1 {
    font-size: 30px;
  }

  .textWrapper p {
    font-size: 16px;
    margin: 0;
    text-align: center;
  }

  .repoCards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
  }
}
