.socialMediaContainer {
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.socialIcon {
  margin: 10px;
  font-size: 2rem;
  color: #74808a;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: inherit;
}

@media (max-width: 768px) {
  .socialMediaContainer {
    justify-content: center !important;
  }
}
