.socialMediaDiv {
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.iconButton {
  margin: 10px;
  font-size: 2rem;
  color: #74808a;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .socialMediaDiv {
    justify-content: center;
  }
}
