.experienceAccordion {
  margin: 50px;
}

.accordionPanel {
  font-family: "Open Sans Regular";
  margin-bottom: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .experienceAccordion {
    margin: 20px;
  }

  .accordionPanel {
    padding: 0.5rem;
  }
}
