.educationContainer {
  width: 100%;
}

.content {
  margin: 0 5%;
}

.headingSection {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.imageWrapper,
.textWrapper {
  flex: 1;
  text-align: center;
}

.imageWrapper > * {
  max-width: 80%;
  height: auto;
}

.textWrapper h1 {
  font-size: 56px;
  font-weight: 400;
  font-family: "Open Sans Medium";
  line-height: 1.1;
}

.textWrapper h3 {
  font-size: 30px;
  font-family: "Open Sans Regular";
}

@media (max-width: 1380px) {
  .textWrapper h1 {
    font-size: 50px;
  }
  .textWrapper h3 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .headingSection {
    flex-direction: column;
  }

  .textWrapper h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  .textWrapper h3 {
    font-size: 20px;
  }
}
