.educationMain {
  width: 100%;
}

.basicEducation {
  margin-left: 5%;
  margin-right: 5%;
}

.headingDiv {
  display: flex;
}

.headingDiv > * {
  flex: 1;
}

.headingImgDiv {
  align-items: center;
  justify-content: center;
}

.headingTextDiv {
  text-align: center;
}

.headingImgDiv > * {
  max-width: 100%;
  height: auto;
}

.headingText {
  font-size: 56px;
  font-weight: 400;
  font-family: "Open Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 100px;
}

.headingSubText {
  font-size: 30px;
  font-family: "Open Sans Regular";
  text-align: center;
}

@media (max-width: 1380px) {
  .headingText {
    font-size: 50px;
    margin-top: 80px;
  }
  .headingSubText {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .headingText {
    font-size: 30px;
    margin-top: 20px;
  }

  .headingSubText {
    font-size: 20px;
  }

  .headingDiv {
    flex-direction: column;
  }
}
